
<section class="login flex items-center justify-center min-h-screen bg-gray-100">
  <!-- <div class="flex items-center justify-center min-h-screen bg-gray-100"> -->
    <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg">
        <h3 class="text-2xl font-bold text-center">Faça login na sua conta</h3>
        <form action="">
            <div class="mt-4">
                <div>
                    <label class="block" for="email">Email<label>
                            <input type="email" placeholder="Email"
                                class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                </div>
                <div class="mt-4">
                    <label class="block">Senha<label>
                            <input type="password" placeholder="Senha"
                                class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                </div>
                <div class="flex items-baseline justify-between">
                    <button class="px-6 py-2 mt-4 text-white rounded-md btn-primary ">Login</button>
                    <a href="/register" class="text-sm hover:underline">Não tem conta?</a>
                </div>
            </div>
        </form>
        <!-- <p class="text-center text-gray-500 text-xs py-2">&copy; 2022 Todos direitos reservados.</p> -->
      </div>
<!-- </div> -->
</section>