
  <section class="section-one py-16">
    <div class="container mx-auto flex items-center justify-between">
      <div class="w-1/2">
        <h6 class="text-lg">Vai uma pizza ai?</h6>
        <h1 class="text-6xl font-bold">Peça a sua agora!</h1>
        <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Peça agora</button>
      </div>
      <div class="w-1/2">
        <img src="/img/pizza.png" alt="">
      </div>
    </div>
  </section>

  <section class="menu container mx-auto py-8">
    <h1 class="text-xl font-bold mb-8">Nossos Sabores</h1>

    <div class="grid grid-cols-4 col-gap-12 row-gap-16">
      <div class="w-64">
        <img class="h-40 mb-4 mx-auto" src="/img/pizza2.png" alt="pizza pequena sabor Marguerita ">
        <div class="text-center">
          <h2 class="mb-1 text-lg">Marguerita</h2>
          <span class="size py-1 px-4 rounded-full uppercase text-xs">pequena</span>

          <div class="flex flex-col items-center justify-around mt-2">
            <span class="font-bold text-lg">R$ 35,00</span>
            <button class="add-to-cart py-1 px-4 rounded-full flex items-center font-bold">
              <span>+</span>
              <span class="ml-2">Adicionar</span>
            </button>
          </div>
        </div>
      </div>

      <div class="w-64">
        <img class="h-40 mb-4 mx-auto" src="/img/pizza3.png" alt="pizza pequena sabor Marguerita ">
        <div class="text-center">
          <h2 class="mb-1 text-lg">Vegetariana</h2>
          <span class="size py-1 px-4 rounded-full uppercase text-xs">pequena</span>

          <div class="flex flex-col items-center justify-around mt-2">
            <span class="font-bold text-lg">R$ 35,00</span>
            <button class="add-to-cart py-1 px-4 rounded-full flex items-center font-bold">
              <span>+</span>
              <span class="ml-2">Adicionar</span>
            </button>
          </div>
        </div>
      </div>

     <div class="w-64">
        <img class="h-40 mb-4 mx-auto" src="/img/pizza4.jpg" alt="pizza pequena sabor Marguerita ">
        <div class="text-center">
          <h2 class="mb-1 text-lg">Marguerita</h2>
          <span class="size py-1 px-4 rounded-full uppercase text-xs">pequena</span>

          <div class="flex flex-col items-center justify-around mt-2">
            <span class="font-bold text-lg">R$ 35,00</span>
            <button class="add-to-cart py-1 px-4 rounded-full flex items-center font-bold">
              <span>+</span>
              <span class="ml-2">Adicionar</span>
            </button>
          </div>
        </div>
      </div>

      <div class="w-64">
        <img class="h-40 mb-4 mx-auto" src="/img/pizza5.jpg" alt="pizza pequena sabor Calabresa ">
        <div class="text-center">
          <h2 class="mb-1 text-lg">Calabresa</h2>
          <span class="size py-1 px-4 rounded-full uppercase text-xs">pequena</span>

          <div class="flex flex-col items-center justify-around mt-2">
            <span class="font-bold text-lg">R$ 35,00</span>
            <button class="add-to-cart py-1 px-4 rounded-full flex items-center font-bold">
              <span>+</span>
              <span class="ml-2">Adicionar</span>
            </button>
          </div>
        </div>
      </div>

      <div class="w-64">
        <img class="h-40 mb-4 mx-auto" src="/img/pizza6.png" alt="pizza pequena sabor Portuguesa ">
        <div class="text-center">
          <h2 class="mb-1 text-lg">Portuguesa</h2>
          <span class="size py-1 px-4 rounded-full uppercase text-xs">pequena</span>

          <div class="flex flex-col items-center justify-around mt-2">
            <span class="font-bold text-lg">R$ 35,00</span>
            <button class="add-to-cart py-1 px-4 rounded-full flex items-center font-bold">
              <span>+</span>
              <span class="ml-2">Adicionar</span>
            </button>
          </div>
        </div>
      </div>

      <div class="w-64">
        <img class="h-40 mb-4 mx-auto" src="/img/pizza7.jpg" alt="pizza pequena sabor 4 Queijos ">
        <div class="text-center">
          <h2 class="mb-1 text-lg">4 Queijos</h2>
          <span class="size py-1 px-4 rounded-full uppercase text-xs">pequena</span>

          <div class="flex flex-col items-center justify-around mt-2">
            <span class="font-bold text-lg">R$ 35,00</span>
            <button class="add-to-cart py-1 px-4 rounded-full flex items-center font-bold">
              <span>+</span>
              <span class="ml-2">Adicionar</span>
            </button>
          </div>
        </div>
      </div>

      <div class="w-64">
        <img class="h-40 mb-4 mx-auto" src="/img/pizza8.png" alt="pizza pequena sabor Palmito">
        <div class="text-center">
          <h2 class="mb-1 text-lg">Palmito</h2>
          <span class="size py-1 px-4 rounded-full uppercase text-xs">pequena</span>

          <div class="flex flex-col items-center justify-around mt-2">
            <span class="font-bold text-lg">R$ 35,00</span>
            <button class="add-to-cart py-1 px-4 rounded-full flex items-center font-bold">
              <span>+</span>
              <span class="ml-2">Adicionar</span>
            </button>
          </div>
        </div>
      </div>

      <div class="w-64">
        <img class="h-40 mb-4 mx-auto" src="/img/pizza9.png" alt="pizza pequena sabor Marguerita ">
        <div class="text-center">
          <h2 class="mb-1 text-lg">Marguerita</h2>
          <span class="size py-1 px-4 rounded-full uppercase text-xs">pequena</span>

          <div class="flex flex-col items-center justify-around mt-2">
            <span class="font-bold text-lg">R$ 35,00</span>
            <button class="add-to-cart py-1 px-4 rounded-full flex items-center font-bold">
              <span>+</span>
              <span class="ml-2">Adicionar</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  


