
<section class="orders light-section">
  <div class="container mx-auto pt-12">
    <h1 class="font-bold text-lg mb-4">Todos os Pedidos</h1>
    <div id="success-alert" class="flex items-center bg-green-500 text-white text-sm font-bold px-4 py-3" role="alert">
      <!-- aqui colocar imagem -->
      <img src="/img/info.svg" class=" fill-current w-8 h-4 mr-2" alt="icon informação">
      <p>Pedido Adicionado com sucesso</p>
    </div>

    <table class="w-full table-auto bg-white">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left">Pedidos</th>
          <th class="px-4 py-2 text-left">Endereço</th>
          <th class="px-4 py-2 text-left">Tempo</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="border px-4 py-2">
            <a class="link" href="/">628ad0e41a0602d9d12eebc8</a>
          </td>

          <td class="border px-4 py-2">
            Test address
          </td>
         
          <td class="border px-4 py-2">
            09:44 PM
          </td>
  
        </tr>
      </tbody>
    </table>
  </div>

</section>