
<section class="orders light-section">
  <div class="container mx-auto pt-12">
    <h1 class="font-bold text-lg mb-4">Todos os Pedidos</h1>
    <div id="success-alert" class="flex items-center bg-green-500 text-white text-sm font-bold px-4 py-3" role="alert">
      <!-- aqui colocar imagem -->
      <img src="/img/info.svg" class=" fill-current w-8 h-4 mr-2" alt="icon informação">
      <p>Pedido Adicionado com sucesso</p>
    </div>

    <table class="w-full table-auto bg-white">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left">Pedidos</th>
          <th class="px-4 py-2 text-left">Telefone</th>
          <th class="px-4 py-2 text-left">Endereço</th>
          <th class="px-4 py-2 text-left">Tempo</th>
        </tr>
      </thead>

      <tbody>
        <% if(orders.length) { %> 
          <% orders.forEach((order) => { %> 
            <tr>
              <td class="border px-4 py-2">
                <a class="link" href="/"><%= order._id %> </a>
              </td>

              <td class="border px-4 py-2">
                <%= order.phone %>
              </td>
    
              <td class="border px-4 py-2">
                <%= order.address %>
              </td>
             
              <td class="border px-4 py-2">
                <%= moment(order.createdAt).format('L'); %>
              </td>
            </tr>
          <% }) %> 
  
        <% }else{ %> 
          <tr>
            <td class="p-4"><span>Pedidos não encontrados!</span></td>
          </tr>

        <% } %> 

      </tbody>
    </table>
  </div>

</section>